<% include chunks/head %>
<% include chunks/nav %>
<div class="page">
    <h1><%= buildingspage.title %></h1>
    <p><%= buildingspage.description %></p>

    <% if (username) { %>
    <li><a id="buildings" href="/rate/21<%=buildingspage._id%>">Like</a></li>
    <li><a id="buildings" href="/rate/22<%=buildingspage._id%>">Dislike</a></li>
    <% }; %>
    
    Like Ratings: <%=ratings.like%>
    Dislike Ratings: <%=ratings.dislike%>
    
    <% include chunks/comment %>
    
    <% if (username) { %>
    
        <form method="post" action="/comment">
            <textarea name="comment" placeholder="Comment here..." ></textarea>
            <input type="hidden" name="pageid" value="<%= buildingspage._id %>">
            <input type="hidden" name="username" value="<%= username %>">
            <input type="hidden" name="category" value="<%= 2 %>">
            <input type="submit">
        </form>
    <% }; %>
</div>



<% include chunks/foot %>

