<% include chunks/head %>
<% include chunks/nav %>
<div class="page">
    <h1><%= coursespage.title %></h1>
    <p><%= coursespage.description %></p>

    <% if (username) { %>
    <li><a id="courses" href="/rate/31<%=coursespage._id%>">Like</a></li>
    <li><a id="courses" href="/rate/32<%=coursespage._id%>">Dislike</a></li>
    <% }; %>
    
    Like Ratings: <%=ratings.like%>
    Dislike Ratings: <%=ratings.dislike%>
    
    
    <table>
        <tr>
            <th>Comment</th>
        </tr>
        <% comments.forEach(function(comment) { %>
        <tr>
            <td><%=comment.username%> commented, "<%= comment.text %>"</td>
        </tr>
        <tr>
            <td>-------------------</td>
        </tr>
        <% }); %>
        
    </table>
    

    <% if (username) { %>
    
        <form method="post" action="/comment">
            <textarea name="comment"></textarea>
            <input type="hidden" name="pageid" value="<%= coursespage._id %>">
            <input type="hidden" name="username" value="<%= username %>">
            <input type="hidden" name="category" value="<%= 3 %>">
            <input type="submit">
        </form>
    <% }; %>
</div>



<% include chunks/foot %>

