<% include chunks/head %>
<% include chunks/nav %>
<div class="page">
    <h1><%= diningPage.title %></h1>
    <p><%= diningPage.description %></p>
    <% if (username) { %>

    <input height='30px' width='30px' src="http://upload.wikimedia.org/wikipedia/commons/8/87/Symbol_thumbs_up.svg"
           type="image" value="Like Page" onClick="window.location='/rate/01<%=diningPage._id%>'">
    <input height='30px' width='30px' src="http://upload.wikimedia.org/wikipedia/en/2/2f/Thumbs-down-icon.png"
           type="image" value="Dislike Page" onClick="window.location='/rate/02<%=diningPage._id%>'">

    <% }; %>
    <% include chunks/ratings %>
    
    <% include chunks/comment %>
    
    <% if (username) { %>
    
        <form method="post" action="/comment">
            <textarea name="comment" placeholder="Comment here..."></textarea>
            <input type="hidden" name="pageid" value="<%= diningPage._id %>">
            <input type="hidden" name="username" value="<%= username %>">
            <input type="hidden" name="category" value="<%= 0 %>">
            <input type="submit">
        </form>
    <% }; %>
</div>



<% include chunks/foot %>

