<% include chunks/head %>
<div class="page">
    <h1><%= diningPage.title %></h1>
    <p><%= diningPage.description %></p>
    
    <% if (username) { %>
    <li><a id="dining" href="/rate/1<%=diningPage._id%>">Like</a></li>
    <li><a id="dining" href="/rate/2<%=diningPage._id%>">Dislike</a></li>
    <% }; %>

    
    Like Ratings: <%=ratings.like%>
    Dislike Ratings: <%=ratings.dislike%>
    
    
    <table>
        <tr>
            <th>Comment</th>
        </tr>
        <% comments.forEach(function(comment) { %>
        <tr>
            <td><%=comment.username%> commented, "<%= comment.text %>"</td>
        </tr>
        <tr>
            <td>-------------------</td>
        </tr>
        <% }); %>
        
    </table
    

    <% if (username) { %>
    
        <form method="post" action="/comment">
            <textarea name="comment"></textarea>
            <input type="hidden" name="pageid" value="<%= diningPage._id %>">
            <input type="hidden" name="username" value="<%= username %>">
            <input type="submit">
        </form>
    <% }; %>
</div>


<% include chunks/nav %>
<% include chunks/foot %>

