<% include chunks/head %>
<div class="page">

    <h1><%= eventspage.title %></h1>
    <p><%= eventspage.description %></p>

    <% if (username) { %>
    <li><a id="events" href="/rate/41<%=eventspage._id%>">Like</a></li>
    <li><a id="events" href="/rate/42<%=eventspage._id%>">Dislike</a></li>
    <% }; %>
    
    Like Ratings: <%=ratings.like%>
    Dislike Ratings: <%=ratings.dislike%>
    
    
    <table>
        <tr>
            <th>Comment</th>
        </tr>
        <% comments.forEach(function(comment) { %>
        <tr>
            <td><%=comment.username%> commented, "<%= comment.text %>"</td>
        </tr>
        <tr>
            <td>-------------------</td>
        </tr>
        <% }); %>
        
    </table>
    

    <% if (username) { %>
    
        <form method="post" action="/comment">
            <textarea name="comment"></textarea>
            <input type="hidden" name="pageid" value="<%= eventspage._id %>">
            <input type="hidden" name="username" value="<%= username %>">
            <input type="hidden" name="category" value="<%= 4 %>">
            <input type="submit">
        </form>
    <% }; %>
</div>


<% include chunks/nav %>
<% include chunks/foot %>

