<% include chunks/head %>
<div class="category">
    <h1>Users</h1>
    
    <table>
        <tr>
            <th>Name</th>
            <% if (session != null) { 
                if (session.admin) { %>
                <th>Ban Status</th>
                <th>Admin Status</th>
            <% }} %>
        </tr>
    


        <% users.forEach(function(user) { %>
            <tr>
                <% var ban;
                   var admin;
                   var bpage;
                   var apage;
                if (!user.ban) {
                    bpage = "ban";
                    ban = "add ban"; 
                }
                if (user.ban) {
                    bpage = "liftban";
                    ban = "lift ban";
                }
                if (!user.admin) {
                    apage="addadmin";
                    admin = "add as admin" 
                }
                if (user.admin) {
                    apage="removeadmin";
                    admin = "delete as admin"
                }
                %>
                <td><%=user.name%></td>

                    <% if (session != null) {
                        if (session.admin) { %>
                    <td><a id=ban" href="/<%=bpage%>/<%=user._id%>"><%=ban%></a></td>
                    <td><a id=admin" href="/<%=apage%>/<%=user._id%>"><%=admin%></a></td>
                    <% }} %>
            </tr>
        <% }); %>
    </table>
</div>


<% include chunks/create_page %>
<% include chunks/nav %>
<% include chunks/foot %>